#container {
    width: 100%;
    height: 100%;

}

.wrapper {
    background: lightblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: "Inter Tight", Arial, Helvetica, sans-serif;
}


.center {
    text-align: center;
}


header {
    flex: 1;
    display: grid;
    grid-template-columns: [first] auto [line1] auto [last];
    grid-template-rows: [first-row] 50% [line1-row] 50px [last-row];
    justify-content: left;
    background: #FFF07C;
    padding: 10px;
    padding-bottom: 0px;

    position: sticky;
    top: 0;
}


img {
    grid-column-start: first;
    grid-column-end: line1;
    grid-row-start: first-row;
    grid-row-end: last-row;

    width: 250px;
    border-radius: 50%;
    padding-right: 10px;
}

.name {
    grid-column-start: line1;
    grid-column-end: last;
    grid-row-start: first-row;
    grid-row-end: line1-row;
    position: relative;
    left: 40px;
    top: -20px;

    font-size: 5rem;
    color: #0D1321;
}

.nav__links {
    grid-column-start: line1;
    grid-column-end: last;
    grid-row-start: line1-row;
    grid-row-end: last-row;
}

.nav__links li {
    display: inline-block;
    padding-right: 70px;
}

.nav__links li a {
    padding: 9px 25px;
    border-radius: 5%;
    background: #0D1321;
    font-size: 30px;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #80FF72;
}

.nav__links li a:link, a:visited {
    color: white;
    text-decoration: none;
}


main {
    background: #80FF72;
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    color: #0D1321;
}

h2 {
    font-size: 3rem;
}

h2, h3, p {
    font-family: "Inter Tight", Arial, Helvetica, sans-serif;
}

#projects section {
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    margin-top: 3rem;
}

#projects a {
    background-color: #FFF07C;
    width: 20%;
    padding:1rem;
    margin:0 1rem;
    transition:all .5s ease;
    color:#0D1321;
    font-size:1.5rem;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 1rem;
    border: solid 1px #0D1321;
}

#projects a:hover {
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

#projects a button {
    align-self:center;
    background: transparent;
    outline: none;
    border: 0;
}

#projects a button:hover {
    cursor: pointer;
}

#projects a button h2 {
    font-size: 1.5rem;
}

#contact {
    padding: 20px;
    padding-top: 0px;
    font: Arial;
}


footer {
    background: #0D1321;
    padding: 30px;
    text-align: center;
}